<%= form_tag(search_results_path, :id => "filter_form", :method => "post", :remote => true) do %>
<%= hidden_field_tag(:authenticity_token, form_authenticity_token) %>
<div class = "title-container">
  Manufacturers
</div>


<div class = "checkbox-container">
  <label>
    <%= check_box_tag("all", "true", true, :class => " all checkbox", :all => "true") %>
    All
  </label>
  <% @brand_names.each do |brand| %>
  <label>
    <%= check_box_tag("brand_name[]", "#{brand.brand_name}", false, :class => "single checkbox") %>
    <%= brand.brand_name %>
  </label>
  <% end %>
</div>


<div class = "title-container">
  Operating System
</div>

<div class="checkbox-container">
  <% @operating_systems.each do |os| %>
  <label>
    <%= check_box_tag("os[]", "#{os.os}", false, :class => "single checkbox") %>
    <%= os.os %>
  </label>
  <% end %>
</div>

<div class = "title-container">
  Price Range
</div>

<div class="checkbox-container">
  <% @price_categories.each do |price|%>
  <label>
    <%= check_box_tag("price_category[]", "#{price.price_category}", false, :class => "single checkbox") %>
    <% if price.price_category == "1" %>
    <%= "500 or less" %>
    <% elsif price.price_category == "2" %>
    <%= "501-750" %>
    <% elsif price.price_category == "3"%>
    <%= "751-1000" %>
    <% elsif price.price_category == "4" %>
    <%= "1000 or greater"%>
    <% end %>
  </label>
  <% end %> <!-- @price_categories  -->
</div>
<% end %>  <!-- form_tag  -->
