<nav>
<%= link_to(image_tag("menu/logo.png", :id => "logo"), phones_path) %>
<%= form_tag(search_results_path, :remote => true, :id => "search_form") do %>
<%= text_field_tag(:search_field, params[:search], :placeholder => "Apple, iPhone 7") %>
<%= hidden_field_tag :executing_action, params[:action] %>

<%= image_submit_tag("menu/search_button.png", :id => "search_button") %>
<% end %>


<div class = "user_info">
  <div id="account">
  <%= link_to(image_tag("menu/account.png", :class => "icon"), login_page_path, :class => "account") %>
  <div id="dropdown">
    <%if session[:username] %>
    You have been logged in as: <%=session[:username] %>
   <% end %>
    <%= link_to("Login", login_page_path, :class => "dropdown-link") %>
    <%= link_to("Register", new_user_path, :class => "dropdown-link") %>
   <%= link_to("Logout", logout_path, :class => "dropdown-link") %>

  </div>

  </div>

<%= link_to(image_tag("menu/emptycart.png", :class => "icon"), cart_page_path) %>



</div>
</nav>
<div id = "placeholder">
</div>
