<table>
  <tr class = "row">
    <th class = "table-title"> SPECS <th>
      <th> </th>
    </tr>

    <tr class = "row">
      <td class = "table-value">
        <div class = "table-attr">Screen Size</div>
        <div class = "table-attr-value"><%= @phone.screen%></div>
      </td>
    </tr>

    <tr class = "row">
      <td class = "table-value">
        <div class = "table-attr">OS</div>
        <div class = "table-attr-value"><%= @phone.os%></div>
      </td>
    </tr>

    <tr class = "row">
      <td class = "table-value"> 
        <div class = "table-attr">RAM </div>
        <div class = "table-attr-value"><%= @phone.ram%></div>
      </td>
    </tr>

    <tr class = "row">
      <td class = "table-value">
        <div class = "table-attr">Front Camera</div>
        <div class = "table-attr-value"><%= @phone.front_camera%></div>
      </td>
    </tr>

    <tr class = "row">
      <td class = "table-value">
        <div class = "table-attr">Back Camera</div>
        <div class = "table-attr-value"><%= @phone.back_camera%></div>
      </td>
    </tr>

    <tr class = "row">
      <td class = "table-value">
        <div class = "table-attr">Battery</div>
        <div class = "table-attr-value"><%= @phone.battery%></div>
      </td>
    </td>
  </tr>

  <tr class = "row">
    <td class = "table-value">
      <div class = "table-attr">Storage</div>
      <div class = "table-attr-value"><%= @phone.storage%></div>
    </td>
  </tr>
</table>
