<h1>Phones#index</h1>
<p>Find me in app/views/phones/index.html.erb</p>
<%= stylesheet_link_tag("phones", :media => "all") %>
<script>
<%= render("index.js.erb") %>
</script>
<%= form_tag(search_results_path, :remote => true) do |f| %>
<%= text_field_tag(:search, params[:search], :placeholder => "Search Posts") %>
<%= submit_tag("Search") %>
<% end %>
<div class = "page-container">
  <div class = "filter-container">

    <div class = "title-container">
      Manufacturers
    </div>
    <div class = "checkbox-container">
      <label>
      <%= check_box_tag("all", "true", true, :class => "all brand-all checkbox", :all => "true") %>
      All
     </label>

      <% @brand_names.each do |brand| %>
      <label>
        <%= check_box_tag("brand_name", "#{brand.brand_name}", false, :class => "#{brand.brand_name} brand checkbox") %>
        <%= brand.brand_name %>
      </label>
      <% end %>
    </div>
    <div class = "title-container">
      Operating System
    </div>

    <div class="checkbox-container">
      <% @operating_systems.each do |os| %>
      <label>
      <%= check_box_tag("price", "#{os.os}", false, :class => "#{os.os} os checkbox") %>
      <%= os.os %>
    </label>
    <% end %>
    </div>

  <div class = "title-container">
    Price Range
  </div>
<div class="checkbox-container">
  <label>
    <input type="checkbox" name="price" value="">
  </label>

  <label>
    <input type="checkbox" name="price" value="">
  </label>

  <label>
    <input type="checkbox" name="price" value="">
  </label>

  <label>
    <input type="checkbox" name="price" value="">
  </label>
</div>
</div>

  <div class = "phones-container">
    <%= render(:partial => "search_results.html.erb")%>
  </div>

</div>
