<%= stylesheet_link_tag("menu", :media => "all") %>
<%= stylesheet_link_tag("phone_index", :media => "all") %>

<script>
  <%= render :partial => "index.js.erb" %>
</script>

<%= render :partial => "menu.html.erb" %>
<div class = "page-container">
  <div class = "filter-container">
    <%= render :partial => "checkbox_form.html.erb" %>
  </div> <!--  .filter-container  -->

  <div class = "phones-container">
    <%= render :partial => "search_results.html.erb"%>
  </div>
</div> <!--  .page-container  -->
