<%= stylesheet_link_tag("phone_show", :media => "all") %>

<script>
  <%= render(:partial => "index.js.erb") %>
</script>

<div class = "product_name"><%= @phone.brand_name %> <%= @phone.phone_name %></div>
<div class="product">

  <%= image_tag(@phone.image_1, :class => "image-1") %>
  <div class="product_info">
    <div class="rounded-rectangle">
      <div class = "price"> Price: <%= "$" + @phone.price.to_s %></div>
      <div class = "quantity">
        Quantity: <%= @phone.quantity == 0 ? "Sold out" : @phone.quantity %>
      </div>
    </div>


    <%= form_tag(create_cart_path(:phone_id => @phone)) do |f| %>
      <%= label_tag("quantity:", nil, :class => "quantity-available") %>
      <%= select_tag("quantity", options_for_select(1..@phone.quantity),
      :class => "quantity-select") %>
      <% if @phone.quantity == 0 %>
        <%= submit_tag("Add To Cart", :class => "button-cart", :disabled => true)%>
      <% else %>
        <%= submit_tag("Add To Cart", :class => "button-cart")%>
      <% end %>
    <% end %>


    <div class="attr-container">
      <div class="attr-box">
        <div class = "attr-title-box">
          <div class = "attr-title">OS</div>
        </div>
        <div class = "attr-value">
          <%= @phone.os %>
        </div>
      </div>

      <div class="attr-box">
        <div class = "attr-title-box">
          <div class = "attr-title">Screen</div>
        </div>
        <div class = "attr-value"> <%= @phone.screen %> </div>
      </div>

      <div class="attr-box">
        <div class = "attr-title-box">
          <div class = "attr-title">RAM</div>
        </div>
        <div class = "attr-value"> <%= @phone.ram %> </div>
      </div>
    </div>
  </div>

</div>

<%= render :partial => "show_table.html.erb" %>
