<h1>Phones#show</h1>
<p>Find me in app/views/phones/show.html.erb</p>
<script>
<%= render(:partial => "index.js.erb") %>
</script>

<%= link_to("Back to index", phones_path)%> <br><br>


<%= @phone.brand_name %> <%= @phone.phone_name %> <br>
<%= link_to("Add Review", new_review_path(:phone_id => @phone.id), :id => "hi", :remote => true)%>
<br><br><br>
<%= link_to("search_results", search_results_path(:brand_name => "samsung"), :remote => true, :id => "uz") %>
<%= check_box_tag("hey", "no value", false, :data => {:remote => true}) %>
<div id = "here"> </div>
