

<%= stylesheet_link_tag("menu", :media => "all")%>
<%= stylesheet_link_tag("phone_show", :media => "all") %>

<script>
<%= render(:partial => "index.js.erb") %>
</script>

<%= render(:partial => "menu.html.erb") %>
<%= link_to("Back To Products Page >>", phones_path)%> <br><br>

<div class="product">
  <div class = "product_name"><%= @phone.brand_name %> <%= @phone.phone_name %></div>
  <div class="product_info">
  <%= image_tag(@phone.image_1, :class => "image-1") %>
    <div class="rounded">
    <div class = "price"> Price: <%= "$" + @phone.price.to_s %></div>
    <div class = "quantity">Quantity: <%= @phone.quantity == 0 ? "Sold out" : @phone.quantity %></div>
    </div>
  </div>
</div>
