<% if @address && @address.errors.size > 0 %>
  <div class="error-container">
    <div class = "error-intro">Please check the information entered for the following errors:</div>
    <div class="errors">
      <% @address.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
      <% end%>
    </div>
  </div>
<% elsif flash[:notice].present? %>
  <div class = "flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>


<div class="user-address">

  <div>User Address:</div>

  <div><%= @user.address.address %></div>

  <div>
    <%= @user.address.city %>, <%= @user.address.province %>,
    <%= @user.address.country %> &nbsp; <%= @user.address.postal_code %>
  </div>

</div>
