<%= stylesheet_link_tag("cart_cart", :media => "all") %>
<%= stylesheet_link_tag("cart_checkout", :media => "all") %>

<script>
  <%= render :partial => "update_price.js.erb"%>
</script>

<% if @user.cart.cart_items.empty? %>
  <div class="empty-cart">Your cart is empty.</div>
  <div class = "back"> <%= link_to("View more cellphones.", phones_path) %></div>
<% else %>
  <div class="checkout-container">
    <div class = "checkout-title">
      Checkout
    </div>

    <hr>
    <% if @address && @address.errors.size > 0 %>
    <div class="error-container">
      <div class = "error-intro">Please check the information entered for the following errors:</div>
      <div class="errors">
        <% @address.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
        <% end%>
      </div>
    </div>
    <% elsif flash[:notice].present? %>
      <div class = "flash-notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div id = "address">
      <%= render :partial => "user_address" %>
    </div>

    <div class = "address-info">
      <%= form_for(@address_form, :url => update_address_path, :method => "post",
      :remote => true) do |f| %>
        <%= f.label(:address) %>
        <%= f.text_field(:address) %>
        <%= f.label(:city) %>
        <%= f.text_field(:city) %>
        <%= f.label(:province) %>
        <%= f.text_field(:province) %>
        <%= f.label(:country) %>
        <%= f.text_field(:country) %>
        <%= f.label(:postal_code) %>
        <%= f.text_field(:postal_code) %>
        <%= f.submit("Save Address") %>
      <% end %>
    </div>


    <div id="phone-orders-container">
      <div id = "phone-cart">
        <% if @user.address.valid? %>
           <%= render :partial => "cart_info.html.erb" %>
        <% end %>
      </div>
      <div id = "phone-orders">
        <%= render :partial => "checkout_item.html.erb" %>
      </div>
    </div>
  </div>
<% end %>
