<style>

</style>

<% if flash[:notice].present? %>
<div class = "notice">
<%= flash[:notice] %>
</div>
<%end%>
<div id = "xx">

<%= link_to("Register", new_user_path) %>
<%= form_tag(authentication_path, :method => "post") do %>
<%= label_tag("username")%>
<%= text_field_tag(:username) %>
<%= label_tag("password") %>
<%= text_field_tag(:password) %>
<%= submit_tag("Submit")%>
<% end %>
</div>
